.post {
  background-image: linear-gradient(rgb(68, 0, 255), #000);

  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px auto;
  border: 2px solid #ffffff;
  width: 500px;
  align-self: center;
}

.post h1 {
  font-weight: 600;
  color: #ffffff;
  align-items: flex-start;
}

.post p {
  align-self: center;
}

.list-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}
