.App {
  text-align: center;
  padding: 0 0 100px 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #282c34;
  /* background-image: linear-gradient(315deg, #000 36%, rgb(68, 0, 255), #000); */
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  transition: 400ms;
  box-shadow: 2px 2px 20px 0px rgb(133, 133, 133);
  border: 1px solid black;
  margin: auto;
}
